/*
--- MY COLOR PALETTE ---
#ffbe0b db
#79C5D3 framework
#bce784 language

*/
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(1, 14, 1, 0.9), rgba(17, 17, 17, 0.9)),url(https://source.unsplash.com/iar-afB0QQw/1920x1280) /*http://abshidsmediablog.blogspot.com/2016/02/programming-101.html*/ ;
    background-position: center;
    background-size: cover;
}

.background {
    width: 100%;
    height: 100%;
}

button.btn.modal-btn {
    color: white;
}
.modal-btn {
    background-color: rgb(153, 221, 43);
    color: white;
}


h2 {
    color: white;
}


td {
    height: 5rem;
    width: 28rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    
}

td:hover {
    transform: scale(1.7);
    font-size: medium;
    transition: 0.2s;
    cursor: pointer;
}


/* 
-- EMPTY CELLS ON HOVER --
*/

td.no-scale:hover {
    transform: none;
    cursor: auto;
}

.table {
    display: table;
    margin-top: 1rem;
    border-collapse: separate;
    border-spacing: 5px;
    text-align: center;
}

.frameWork {
    background: #79C5D3 !important;
}
.frameWork:hover {
    background: rgba(89, 155, 167, 0.8) !important;
    z-index: 1 !important;
}

.lang {
    background: #bce784 !important;
}
.lang:hover {
    background: rgb(188, 231, 132, 0.8) !important;
}

.db {
    background: #ffbe0b !important;
}

.db:hover {
    background: rgb(255, 190, 11, 0.8) !important;
}

/* 
-- BUTTONS --
*/

button {
    margin: 0 10px;
    color: black !important;
}

#frameWork-btn {
    background: #79C5D3 !important;
    border-style: none;
}
#lang-btn {
    background: #bce784 !important;
    border-style: none;
}
#db-btn {
    background: #ffbe0b !important;
    border-style: none;
}



.react {
    background: yellow !important;
}
.reactBack {
    background: #79C5D3 !important;
}

