/*
--- MY COLOR PALETTE ---
#ffbe0b db
#79C5D3 framework
#bce784 language



*/

td {
    height: 5rem;
    width: 28rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    
}

td:hover {
    transform: scale(1.7);
    font-size: medium;
}


/* 
-- EMPTY CELLS ON HOVER --
*/

td.no-scale:hover {
    transform: none;
}

.table {
    display: table;
    margin-top: 10rem;
    border-collapse: separate;
    border-spacing: 5px;
    text-align: center;
}

.frameWork {
    background: #79C5D3 !important;
}
.frameWork:hover {
    background: rgba(89, 155, 167, 0.8) !important;
    z-index: 1 !important;
}

.lang {
    background: #bce784 !important;
}
.lang:hover {
    background: rgb(188, 231, 132, 0.8) !important;
}

.db {
    background: #ffbe0b !important;
}

.db:hover {
    background: rgb(255, 190, 11, 0.8) !important;
}

/* 
-- BUTTONS --
*/

button {
    margin: 0 10px;
    color: black !important;
}

#frameWork-btn {
    background: #79C5D3 !important;
    border-style: none;
}
#lang-btn {
    background: #bce784 !important;
    border-style: none;
}
#db-btn {
    background: #ffbe0b !important;
    border-style: none;
}





